# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large Datasets (hosted on Google Drive)
Dataset/
*.jsonl

# MLflow local tracking runs & sqlite db
mlruns/
mlflow.db

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
